$color-font-main: #3C3C3C;
$color-font-alt: #737373;
$color-font-alt2: #5E5322;
$color-bg:#F0F1F1;
$color-border-grey:#707070;
$color-border-yellow: #FAD648;
$color-placeholder: #9f9e9e;
$color-steps-bg: #e8e7e2;
$color-steps-bg2: #eeede9;