.navbar-mobile {
    width: 100%;
    // padding: 2.5rem 1rem 0 0;
    position: relative;
    z-index: 100;
}

.hamburger {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 6rem;
    height: 6rem;
    // padding: 1rem;
    // margin-right: 1rem;
    cursor: pointer;
    background-color: $color-font-main;
    border-radius: 50%;
    @include flexbox(row, center, center);
    // [class^='hamburger-line-'] {
    //     height: 4px;
    //     width: 3rem;
    //     margin: .4rem 0;
    //     background-color: #fff;
    //     border-radius: 2px;
    // }
}


.background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 360px;
    height: 100vh;
    background-color: $color-font-main;

  }