.about {
    background-image: url('../../../assets/people.png');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right top;
}
.about__content {
    width: 50%;
    color: $color-font-main;
    padding: 6% 1rem 20% 1rem;
    background-color: $color-bg;
    background-image: url('../../../assets/signature.svg');
    background-repeat: no-repeat;
    background-position: bottom 10% right 15%;
    background-size: calc(50% - 10vw);
    .about__text {
        text-align: center;
        @include fluid-font(12px, 24px);
        padding: 0 calc(20% - 3vw);
    }
}