.footer {
    background: linear-gradient(rgba(255,255,255, 0.83), rgba(255,255,255, 0.89)), url('../../../assets/bg-img.png');
    background-repeat: no-repeat, no-repeat;
    height: 50vh;
    background-size: cover, 100% 100%;
}

.footer__content {
    width: 100%;
    padding: 1rem 4% 3rem 0;
}

.contact-form {
    .input-wrapper {
        display: block;
        width: 100%;
    }
    .input-wrapper__name {
        margin-right: 0;
    }
    .textarea-wrapper {
        margin-top: 0;
        padding-bottom: 2rem;
    }
}