.header {
    color: $color-font-main;
    min-height: 650px;
    background-image: url('../../../assets/Hero\ Image.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: left -50% bottom -1rem;
    position: relative;
}

.header__content {
    width: 50%;
    text-align: center;
    @include fluid-font(14px, 30px);
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.giveaway-header__content {
    padding: 10% 4rem 2% 4rem;
}

.giveaway-header {
    background-image: url('../../../assets/giveaway-bg.png');
    background-size: 50% 100%;
    background-position: left top;
}

.header__titles, .giveaway__title {
    position: relative;
    padding: 3rem 0 10rem 0;
    &:after {
        content: url('../../../assets/Decoration.svg');
        position: absolute;
        left: 50%;
        bottom: 15%;
        transform: translateX(-50%);
    }
}

.giveaway__title {
    padding: 3rem 0 6rem 0;
    &:after {
        bottom:0;
    }
}

.header__btns {
    @include flexbox(row, center,center);
}

.btn {
    background-color: #fff;
    font-weight: 300;
    width: 20rem;
    height: 8rem;
    @include fluid-font(20px,26px);
    border: 1px solid $color-font-main;
}

.header__btn:nth-child(1) {
    margin-right: calc(2.5rem + 1vw);
}

.header__btn, .steps__btn {
    transition: box-shadow .2s, color .2s;
    &:hover {
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 60px $color-font-main;
    -moz-box-shadow: inset 0 0 0 60px $color-font-main;
    -webkit-box-shadow: inset 0 0 0 60px $color-font-main;
    color: $color-border-yellow;
    }
}

.giveaway__subtitle {
    font-weight: 300;
    @include fluid-font(18px,25px);
}

.steps-list {
    padding: 6rem 0;
}

@for $i from 1 through 4 {
    .step-item-#{$i} {
        font-size: 1.8rem;
        position: relative;
        display: inline-block;
        padding: 1rem;
        width: 10rem;
        margin-right: 1.5rem;
        margin-bottom: 5rem;
        &:before {
            content: "#{$i}";
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%, 50%);
        }
        &:after {
            content: '';
            position: absolute;
            top: -30%;
            left: 0;
            transform: rotate(-45deg);
            width: 10rem;
            height: 10rem;
            border: 1px solid $color-font-alt;
        }
    }
}

.giveaway-note {
    background-color: $color-border-yellow;
    padding: 2rem 10rem;
    .giveaway-note__title {
        font-size: 2.4rem;
        font-weight: 600;
    }
    .giveaway-note__text {
        color: $color-font-main;
        font-size: 1.5rem;
        text-align: left;
        padding: .5rem 0;
        max-width: 70%;

    }
}