.organizations {
    color: $color-font-main;
    padding: 0 8% 3rem 8%;
}

.organization-types {
    @include fluid-font(12px, 16px);
    @include flexbox(row, space-between, stretch);
    width: calc(50% + 1vw);
    margin: 0 auto;
}

[class^="organization-type-"] {
    position: relative;
    width: 14rem;
    text-align: center;
    padding: 1rem;
    @include flexbox(row, center, center);
    cursor: pointer;
    overflow: hidden;
    border: 1px solid transparent;
}

[class^="organization-type-"], .pageNum {
    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        top: 0;
        left: 0;
        transition: width 0.2s, height .2s;
    }
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        bottom: 0;
        right: 0;
        transition: width 0.2s, height .2s;
    }
    &:hover:before {
        width: 100%;
        height: 100%;
        border-top-color: $color-border-grey;
        border-left-color: $color-border-grey;
    }
    &:hover:after {
        width: 100%;
        height: 100%;
        border-right-color: $color-border-grey;
        border-bottom-color: $color-border-grey;
    }
}

[class^="organization-type-"].active-type, .pageNum.active-type {
    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }
}

.organizations__text {
    width: 40%;
    margin: 0 auto;
    @include fluid-font(12px, 16px);
    text-align: center;
    padding: 4rem 0;
}

.active-type {
    box-shadow: inset 0px 0px 2px $color-font-main;
}

.organizations-list {
    padding: 0 10% 2rem 10%;
    padding-bottom: 2rem;
}

.organizations-item {
    position: relative;
    line-height: 1.5;
    padding: 2rem 1rem 2rem 0;
    font-family: $font-alt;
    font-weight: 300;
    .organization-name {
        @include fluid-font(14px, 18px);
    }
    .organization-goal {
        @include fluid-font(9px, 13px);
        width: 50%;
    }
    .organization-items {
        @include fluid-font(9px, 12px);
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        max-width: 40%;
    }
}

.organizations-item:not(:last-child) {
    border-bottom: 1px solid $color-font-alt;
}

.pagination {
    margin: 0 auto;
    @include fluid-font(12px, 16px);
    text-align: center;
    .pageNum {
        position: relative;
        display: inline-block;
        padding: 1rem;
        cursor: pointer;
    }
    .pageNum:not(:last-child) {
        margin-right: 1rem;
    }
}