.organizations__text {
    width: 80%;
}

.organization-types {
    width: 90%;
}

.organizations-list {
    padding: 0 2% 2rem 2%;
    padding-bottom: 1rem;
}

.organizations-item {
    .organization-items {
        right: .5rem;
        max-width: 35%;
        text-align: right;
    }
}