.statistics {
    background: url('../../../assets/3\ Columns\ Background.png');
    @include flexbox(row, space-between, stretch);
    width: 100%;
}

.statistic__col {
    padding: 3rem 8%;
    text-align: center;
    color: $color-font-main;
    .statistic__num {
        @include fluid-font(50px,70px);
        font-weight: 300;
        color: $color-font-alt2;
    }
    .statistic__dscr {
        @include fluid-font(13px,16px);
    }
    .statistic__text {
        @include fluid-font(10px,13px);
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}